/* Existing CSS code */

/* Default styles for all screen sizes */

body {
  background-image: url("../images/flowers.jpeg");
}

nav {
  background-color: #FF69B4;
  font: 30px/1.5 Verdana, Arial, sans-serif;
  text-align: center;
  padding: 1rem 0;
  text-shadow: 4px 4px #000000;
}

nav ul {
  list-style: none;
  padding-left: 0;
}

nav ul li {
  display: inline;
  margin: 0 1rem;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

/* Styling main */
#main {
  margin: 40px;
}

h1, h2, p {
  color: black; /* Set content color to black */
}

h1 {
  font-size: 35px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

section {
  margin-bottom: 40px;
}

h2 {
  font-size: 35px;
  text-decoration: underline;
  margin-bottom: 20px;
}

h3 {
  font-size: 35px;
  line-height: 1.5;
  margin-bottom: 20px;
}

p {
  font-size: 25px;
  line-height: 1.5;
  margin-bottom: 15px;
}

ul {
  list-style-type: none;
  margin-left: 20px;
}

li {
  font-size: 16px;
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Styling footer */
#footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  clear: both;
}

/* New styles with floats/positions */
.float-left {
  float: left;
  margin-right: 20px; 
}

.float-right {
  float: right;
  margin-left: 20px;
}

.position-relative {
  position: relative;
  top: 20px; 
  left: 30px; 
}

.position-absolute {
  position: absolute;
  top: 50px; 
  right: 0;
}

gmp-map {
  height: 100%;
}

/* Media query for mid-width devices (e.g., tablets) */
@media only screen and (max-width: 768px) {
  body {
    font-size: 16px; 
  }

  header {
    padding: 10px;
  }

  nav ul {
    flex-direction: column; 
  }

  nav li {
    margin-bottom: 5px; 
  }

  #Introduction {
    padding: 20px; 
  }

  #paragraph {
    padding: 20px; 
  }

  div[id^="Car-"] {
    padding: 20px; 
  }
}

/* Media query for smaller mobile devices (e.g., smartphones) */
@media only screen and (max-width: 480px) {
  body {
    font-size: 14px; 
  }

  header {
    padding: 5px; 
  }

  nav ul {
    font-size: 12px; 
  }

  nav li {
    margin-bottom: 3px; 
  }

  #Introduction {
    padding: 10px; 
  }

  #paragraph {
    padding: 10px; 
  }

  div[id^="Car-"] {
    padding: 10px; 
  }
}

